@charset "utf-8";

html, body, div, p, a, span {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}

.time-picker-outer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 100%;
}
.time-item {
	-webkit-box-flex: 1;
	flex: 1;
	height: 30rem;
	background: #ccc;
	text-align: center;
}